@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

#header-container{
    display: flex;
    flex-direction: row;
    margin-top: -50px;
    margin-bottom: -50px;
}

#video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    margin-top: 115px;
}

#video::-webkit-media-controls {
    display: none;
}

.trinity{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 50px;
    line-height: 30px;
}

.trinity a{
    color: black;
    text-decoration: none;
}

.trinity a:hover{
    color: coral;
    transition: ease-in-out 0.4s;
}

.nav-buttons{
    margin-left: 60%;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family:'Poppins', sans-serif ;
    overflow-x: hidden;
}

h1{
    font-size: 2.5rem;
    font-weight: 700;
}

h2{
    font-size: 1.8rem;
    font-weight: 600;
}

h3{
    font-size: 1.5rem;
    font-weight: 800;
}

h4{
    font-size: 1.2rem;
    font-weight: 600;
}

h5{
    font-size: 1rem;
    font-weight: 400;
}

h6{
    color: #D8D8D8;
}

.logo{
    height: 50px;
    width: 100%;
}

.nav-item{
    display: flex;
}

.navbar{
    font-size: 16px;
    padding-top: 2rem !important;
    padding-bottom: 2rem !important;
    top: 0;
    left: 0;
    box-shadow: 0 5px 10px rgba(0,0,0, 0.1);
}

.navbar-light .navbar-nav .nav-link {
    padding: 0 20px;
    color: #000;
    transition: 0.4s ease;
}

.navbar-light .navbar-nav .nav-link:hover, 
.navbar i:hover, 
.navbar-light .navbar-nav .nav-link.active,
.navbar i:hover{
    color: coral;
}

.navbar i{
    font-size: 1.2rem;
    padding: 0 7px;
    transition: 0.4s ease;
    cursor: pointer;
    font-weight: 600;
    margin-left: 5px;
}

@media only screen and (max-width: 990px) {
    
    .nav-buttons{
        margin: 10px;   
    }

    .nav-buttons ul{
        margin: 1rem;
        justify-content: flex-start;
        align-items: flex-start;
        text-align: left;
    }

    .nav-buttons ul .fa{
        margin: 20px 5px 10px 10px
    }
}

/* #home{
    background-image: url('../imgs/black-friday-elements-assortment.jpg');
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
} */

#home span {
    color: red;
}

button{
    background-color: black;
    color: white;
    padding: 10px 25px;
    border-width: 0;
}

button:hover{
    background-color: coral;
    transition: 0.5s ease;
}

#new .one img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#new .one{
    position: relative;
}

#new .one .details{
    position: absolute;
    top: 0;
    left: 0;
    color: burlywood;
    font-weight: bold;
    transition: 0.4s ease;
    opacity: 0.7;
    background-color: rgb(1,1,1);
    width: 100%;
    height: 100%;
}

#new .one .details:hover{
    background-color: cornsilk;
    color: black;
}

#new .one .details button{
    background-color: rgb(30,29,30);
}

#new .one .details button:hover{
    background-color: coral;
}

#new .one:nth-child(1) .details{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    text-align: start
}

#new .one:nth-child(2) .details{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center
}

#new .one:nth-child(3) .details{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-end;
    text-align: end
}

hr{
    color: red;
    border-width: 5px;
    width: 50px;
}

.fa-star{
    color: #F7D100;
}

/*Product*/

.product{
    cursor: pointer;
    margin-bottom: 8rem;
}

.product img{
    transition: 0.3 all;
    width: 100%;
    height: 100%;
    object-fit:contain;
}

.product:hover img{
    opacity: 0.7;
}


/*Banner*/
#banner{
    background-image: url('../imgs/daquy.webp');
    width: 100%;
    height: 60vh;
    background-size: cover;
    background-position-x: center;
    background-position-y: 80px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-top: 100px;
}

#banner h1{
    /* color: coral; */
    color: black
}

#banner button{
    /* background-color: #fb774b; */
    background-color: black;
}

#banner button:hover{
    background-color: #fb774b;
  
}

/*Clothes*/
#clothes .product img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#footer{
    display: flex;
    justify-content: space-between;
    padding: 50px;
    /* background-color: rgb(35,33,35);
    color: rgb(158, 156, 157); */
    border-top: 1px solid rgb(188, 186, 186);
}

#footer ul li{
    list-style: none;
    line-height: 40px;
}

.small-img-group{
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
}

.small-img-col{
    flex-basis: 24%;
    cursor: pointer;
}

.single-product input{
    width: 50px;
    height: 40px;
    padding-left: 10px;
    font-size: 16px;
    margin-right: 10px;
}

.single-product  input:focus{
    outline: none;
}

.single-product .buy-btn{
    background-color: #fb774b;
    opacity: 1;
    transition: 0.4 all
}

.single-product .buy-btn:hover{
    background-color: #222222;
}

#mainImg{
    width: 200px;
    height: 500px;
    object-fit: contain;
}

.small-img{
    height: 100px;
    width: 100px;
    object-fit: cover;
}

/*Cart*/
.cart table{
    width: 100%;
    border-collapse: collapse;
}

.cart .product-info{
    display: flex;
    flex-wrap: wrap;
}

.cart th{
    text-align: left;
    padding: 5px 10px;
    color: white;
    background-color:#fb774b
}

.cart td{
    padding: 10px 20px;

}

.cart td img{
    width: 100px;
    height: 100px;
    margin-right: 10px;
}

.cart a{
    color: #fb774b;
    text-decoration: none;
    cursor: pointer;
    font-size: 15px;
}

.cart .product-info p{
    margin: 3px;
}

.cart-total{
    display: flex;
    justify-content: flex-end;
}

.cart-total table{
    width: 100%;
    max-width: 500px;
    border-top: 3px solid #fb774b;
}

td:last-child{
    text-align: right;
}

th:last-child{
    text-align: right;
}

.checkout-container{ 
    display: flex;
    justify-content: flex-end;
}

.checkout-btn{
    display: flex;
    justify-content: flex-end;
    background-color: #fb774b;
    color: white;
    margin-bottom: 28px;
}

.checkout-btn:hover{
    background-color: rgb(63,209,104);
    color: white;
    transition: 0.4s ease;
}

table input{
    width: 50px;
    margin-right: 10px;
}

table input:focus{
    outline: none;
}

.cart .remove-btn{
    color: #fb774b;
    text-decoration: none;
    font-size: 14px;
    background-color: white;
    border: none;
}

.cart .edit-btn{
    color: #fb774b;
    text-decoration: none;
    font-size: 15px;
    background-color: white;
    border: none;
}

/*Login*/
#login-form{
    width: 50%;
    margin: 5px auto;
    text-align: center;
    padding: 20px;
    border-top: 1px solid #fb774b;
}

#login-form input{
    width: 50%;
    margin: 5px auto;
}

#login-form #login-btn{
    background-color: #fb774b;
    color: white;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#login-form #register-url{
    color: #fb774b
}

/*Register*/
#register-form{ 
    width: 50%;
    margin: 5px auto;
    text-align: center;
    padding: 20px;
    border-top: 1px solid #fb774b;
}

#register-form input{
    width: 50%;
    margin: 5px auto;
}

#register-form #register-btn{
    background-color: #fb774b;
    color: white;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#register-form #login-url{
    color: #fb774b
}

/*Account*/
#account-form{
    width: 50%;
    margin : 35px auto;
    text-align: center;
    padding: 20px;
}

#account-form input{
    margin: 5px auto;
}

#account-form #change-pass-btn{
    color: white;
    background-color: #fb774b;
}

.account-info #orders-btn, #logout-btn{
    color: #fb774b;
    text-decoration: none;
}

/*Checkout*/
#checkout-form .checkout-small-element{
    display: inline-block;
    width: 48%;
    margin: 10px auto;
}

#checkout-form .checkout-large-element{
    width: 96.5%
}

#checkout-form .checkout-btn-container{
    margin: 10px;
    text-align: right;
    margin-right: 40px;
}

#checkout-form #checkout-btn{
    color: white;
    background-color: #fb774b;
}

#checkout-form input{
    font-weight: 600;
    padding: 10px
}

#checkout-form label{
    color: rgb(0,70,127);
    margin-bottom: 10px;
    font-weight: 600;
}

/*Contact*/
#contact {
    display: flex;
    margin-top: 200px;
    margin-bottom: 50px;
}

#contact .contact-info {
    width: 30%;
    background-color: rgb(92,206,147);
    color: #fff;
    padding: 20px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#contact form {
    width: 70%;
    padding: 50px
}

#contact .input-container {
    margin-bottom: 20px;
}

#contact label {
    font-weight: bold;
}

#contact input,
#contact textarea {
    width: 100%;
    padding: 10px 10px 10px 0px;
    border: none;
    border-bottom: 1px solid black;
}

#contact input:focus,
#contact textarea:focus {
    outline: none;
}

#contact button {
    background-color: white;
    color: #333;
    border: 1px solid #333;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.contact-address,
.contact-phone,
.contact-email,
.contact-website{
    display: flex;
    align-items: center;
}

.contact-address p,
.contact-phone p,
.contact-email p,
.contact-website p{
    margin: 0px 0px 0px 10px;
}

.fa-location-dot,
.fa-phone,
.fa-paper-plane,
.fa-earth-americas{
    border: 1px solid white;
    display: flex;
    margin: 0;
    padding: 10px;
    border-radius: 50px;
}

.fa-location-dot{
    padding: 10px 12px;
}

.name-and-email{
    display: flex;
    justify-content: space-between;
}

#contact-form button{
    background-color: rgb(92,206,147);
    color: white;
    font-weight: 600;
    border: none;
}

/*Orders in account*/
#orders table{
    width: 100%;
    border-collapse: collapse;
}

#orders .product-info{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

#orders th{
    padding: 5px 10px;
    color: white;
    background-color:#fb774b;
    justify-content: space-around;
}

#orders td{
    padding: 10px 0px 10px 20px;
}

#orders td img{
    width: 100px;
    height: 100px;
    margin-right: 10px;
}

#orders a{
    color: #fb774b;
    text-decoration: none;
    cursor: pointer;
    font-size: 15px;
}

#orders .product-info p{
    margin: 3px;
}

#orders .order-details-btn{
    color: white;
    background-color: #fb774b;
    text-align: center;
}

#orders td:last-child input{
    width: 80px;
}

.btn_primary{
    background-color: rgb(63,209,104);
    color: white;
}

.btn_primary:hover{
    background-color: rgb(63,209,104);
    color: white;
}

.pagination {
    display: flex;
    justify-content: center;
}

.pagination a {
    color: coral;
}

.pagination li:hover a {
    color: #fff;
    background-color: coral;
    font-weight: bold !important;
}

/* #shop{
    width: 80%;
    margin-left: auto;
} */

#shop .buy-btn {
    background-color: #222222;
    color: #fff;
}

#shop .buy-btn:hover {
    background-color: #fb774b;
    opacity: 1;
    transition: 0.4 all;
    color: #fff;
}

#shop img{
    height: 300px;
    width: 300px;

}

#search{
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#search input[type="text"]{
    padding: 5px 10px;
    width: 100%;
    max-width: 1000px;
    box-sizing: border-box;
}



.fa-shopping-bag{
    position: relative;
    margin-right: 18px;
}

.cart-quantity{
    position: absolute;
    top: -10px;
    left: 25px;
    font-size: 15px;
}

#bracelet{
    width: 100%;
    height: 58vh;
    display: flex;
    align-content: center;
    justify-content: center;
    margin-bottom: 20px;
}

#shop-now{
    text-decoration: none;
    color: black;
}

#shop-now:hover{
    color: coral;
    transition: ease-in-out 0.4s;
}

.line{
    padding: 0.8px 50px;
    background-color: black;
}

.cartier-universe{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}

.container1{
    /* position: absolute;
    top: 50%;
    left: 50%; */
    transform: translate(-50%, -50%);
    width: 1370px;
    height: 600px;
    background: #f5f5f5;
    box-shadow: 0 30px 50px #dbdbdb;
    margin-left: 50%;
    margin-top: 350px;
    margin-bottom: -200px;
}

.container1 .slide .item{
    width: 200px;
    height: 300px;
    position: absolute;
    top: 50%;
    transform: translate(70%, -50%);
    border-radius: 20px;
    box-shadow: 0 30px 50px #505050;
    background-position: 50% 50%;
    background-size: cover;
    display: inline-block;
    transition: 0.5s;
}

.slide .item:nth-child(1),
.slide .item:nth-child(2){
    top: 0;
    left: 0;
    transform: translate(0,0);
    border-radius: 0;
    width: 100%;
    height: 100%;
}

.slide .item:nth-child(3){
    left: 50% ;
}

.slide .item:nth-child(4){
    left: calc(50% + 220px) ;
}

.slide .item:nth-child(5){
    left: calc(50% + 440px) ;
}

.slide .item:nth-child(n + 6){
    left: calc(50% + 660px) ;
    opacity: 0;
}

.item .content{
    position: absolute;
    top: 50%;
    left: 100px;
    width: 300px;
    text-align: left;
    color: #eee;
    transform: translate(0, -50%);
    font-family: system-ui;
    display: none;
}

.slide .item:nth-child(2) .content{
    display: block;
}

.content .name{
    font-size: 40px;
    text-transform: uppercase;
    font-weight: bold;
    opacity: 0;
    animation: animate 1s ease-in-out 1 forwards;
    color: black
}

.content .des{
    margin-top: 10px;
    margin-bottom: 20px;
    opacity: 0;
    animation: animate 1s ease-in-out 0.3s 1 forwards;
    color: black
}

.content button{
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    background-color: #eee;
    color: black;
    opacity: 0;
    animation: animate 1s ease-in-out 0.6s 1 forwards;
}

.content button:hover {
    background-color: coral;
    color: white;
}

@keyframes animate{
    from{
        opacity: 0;
        transform: translate(0, 100px);
        filter: blur(33px);
    }

    to{
        opacity: 1;
        transform: translate(0);
        filter: blur(0);
    }
}

.button{
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 20px;
}

.button button{
    border-radius: 8px;
    border: none;
    cursor: pointer;
    margin: 0 5px;
    border: 1px solid #000;
    transition: 0.3s;
    background-color: white;
    color: black;
    align-content: center;
}

.button button:hover{
    background-color: #ababab;
    color: #fff
}

.grid-module{
    background-color: rgb(249,249,249);
    padding: 50px;
    margin-bottom: 50px;
}

.grid{
    display: flex;
    flex: row;
    justify-content: space-around;
    align-items: center;
}

.grid-module-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.grid-module-item img{
    height: 40px;
    width: 40px;
    margin-bottom: 20px;
}

.grid-module-item {
    font-size: 20px;
}

/*------Search-------*/
.search-suggestions {
    position: absolute;
    z-index: 999;
    width: 100%;
    background: #fff;
    border: 0px solid #ccc;
    display: none;
    width: 900px;
}

#search_result.show {
    display: block;
}

.search-box {
    border: none; 
    border-bottom: 1px solid #000; 
    outline: none;
}

.search-box:focus {
    border-bottom: 0.5px solid #000;
}


.fa-magnifying-glass,
.fa-times{
    font-size: 20px;
    margin-left: 20px;
    cursor: pointer;
}

.fa-times:hover{
    color: coral;
    transition: ease-in-out 0.5s;
}

ul li {
    list-style: none;
    cursor: pointer;
}

ul li a{
    text-decoration: none;
    color: black;
    font-size: 18px;
}

ul li a:hover{
    color: coral;
    transition: ease-in-out 0.5s;
}

.shop-container{
    display: flex;
    flex-direction: row;
}

.search-sort{
    position: absolute;
    left: 0;
    top: 30%
}

.sort-by-element,
.filter-by-element{
    margin-top: 10px;
}

.page-item.active {
    background-color: coral;
    color: white;
}

.suggestion-box{
    display: none;
}

.suggestion-box li{
    padding: 10px;
    border-bottom: 1px solid black
}


/* Dropdown Button */
.dropbtn {
    background-color: transparent;
    color: black;
    font-size: 17px;
    border: 2px solid coral;
    border-radius: 5px;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {
    background-color: black;
    color: white;
    border: 2px solid coral;
    transition: ease-in-out 0.3s;
}

/* Province List */
#province-list,
#district-list,
#ward-list {
    display: none;
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
    z-index: 1000;
    background-color: white;
    border: 1px solid white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    max-height: 150px;
    overflow-y: auto; 
}
#province-list li,
#district-list li,
#ward-list li {
    cursor: pointer;
    padding: 5px;
    background-color: #f2f2f2;
}
#province-list li:hover,
#district-list li:hover,
#ward-list li:hover {
    background-color: #ddd;
}

/*Product special offer*/
#product-special-offer{
    position: absolute;
    top: 5px;
    left: 12px;
    margin: 0;
    padding:0;
    color: white;
    background-color: coral;
    padding: 5px 5px 0px 5px;
}

#product-special-offer-shop{
    position: absolute;
    margin: 0;
    padding:0;
    left: 59px;
    color: white;
    background-color: coral;
    padding: 5px 5px 0px 5px;
}

/*Product quantity */
#product-quantity{
    position: absolute;
    right: 60px;
    background-color: black;
    color: white;
    padding: 5px 5px 0px 5px;
}

#input-password{
    display: flex;
    position: relative;
}
#input-password i{
    position: absolute;
    right: 20%;
    top: 30%
}

/*Product-list*/
.product-list{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    padding: 0;
}

.product-list li {
    margin: 0 40px; /* Khoảng cách giữa các mục */
}


/*Filter by category */
.filter-category{
    background-color: white;
    color: black
}

.cod{
background-color: coral;
color: white;
padding: 0;
margin: 10px;
padding: 5px 80px;
border-radius: 5px;
cursor: pointer;
}

.cod:hover{
    background-color: rgb(227, 108, 64);
}

.alert-success{
    background-color: transparent;
    text-align: center;
    color: rgb(40,167,69);
    font-weight: bold;
    border: none;
}

.send-status {
    background-color:transparent;
    color: #4CAF50;
    text-align: center;
    margin-bottom: 100px;   
    margin-top: 80px;
    font-size: 20px;
    font-weight: 600;
}

/* Select size */
#select-size,
#select-size-bracelet {
    margin-bottom: 30px;
    margin-top: 10px;
    text-align: center;
    width: 220px;
    height: 40px;
    border: 1px solid black;
    border-radius: 0;
  }

#select-size option,
#select-size-bracelet option {
    text-align: center;
    text-align: left;
  }

/* Định dạng cho phần chứa donut chart */
.donut-chart-container {
    width: 49%;
    float: left;
    padding-right: 1%;
}

/* Điều chỉnh kích thước của donut chart */
#chartContainer {
    max-width: 100%;
    height: auto;
}

.new-orders,
.bounce-rate,
.user-registrations,
.unique-visitors{
    width: 45%;
    height: 200px;
    background-color: rgb(0,124,255);
    color: white;
    border-radius: 5px;
}

.new-orders-title,
.bounce-rate-title,
.user-registrations-title,
.unique-visitors-title
{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgb(0,120,246);
    color: white;
    padding: 10px 20px;
    border-radius: 5px 5px 0px 0px;
    box-shadow: 0px 1px 0px white;
}

.new-orders p,
.bounce-rate p,
.user-registrations p,
.unique-visitors p{
    margin: 0px 0px 0px 10px;
    font-weight: 600;
}

.new-orders h2,
.bounce-rate h2,
.user-registrations h2,
.unique-visitors h2{
    margin: 50px 0px 0px 20px;
}

.new-orders,
.new-orders-title{
    background: linear-gradient(to right, rgb(50, 210, 242), rgb(11, 169, 204));
}

.bounce-rate,
.bounce-rate-title {
    background: linear-gradient(to right,rgb(239, 108, 174),rgb(214, 25, 110));
}

.user-registrations,
.user-registrations-title{
    background: linear-gradient(to right, rgb(235, 210, 118), rgb(236, 165, 23));
}

.unique-visitors,
.unique-visitors-title{
    background: linear-gradient(to right, rgb(84, 226, 136), rgb(22,164,74));
}

.hide-order{
    display: none;
}

.active-order{
    display: block;
}

.more-info{
    font-size: 18px;
    font-weight: 600;
    border-top: 1px solid white;
    margin-top: 20px;
    padding-top: 10px;
    padding-right: 20px;
    text-align: right;
}

.fa-circle-arrow-right{
    margin-left: 10px;
}

.more-info a{
    text-decoration: none;
    color: white
}

/*Comment container */
.comment-container{
    display: flex;
    flex-direction: column;
}

.comment-container textarea{
    padding: 10px;
    height: 100px;
    margin-bottom: 15px;
}

.comment-container input{
    width: 150px;
    background-color: coral;
    padding: 0;
    border: none;
    color: white;
    font-weight: bold;
    border-radius: 2px;
}

.comment-container input:hover{
    background-color: rgb(40,167,69);
    transition: ease-in-out 0.4s;
}

.comment-container textarea:focus{
    outline: none;
}

.commented{
    border-bottom: 1px solid black;
}

.commented h4{
    margin-right: 10px;
}